<h1>{{title}}</h1>
<p>bienvenido{{title}}</p>
 <h1>LOGIN SAN-SAM ADMIN</h1>
    
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam non efficitur quam. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
    
    <form>
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre" placeholder="Tu nombre"><br><br>

        <label for="contrasena">Contraseña:</label>
        <input type="password" id="contrasena" name="contrasena" placeholder="Tu contraseña"><br><br>

        <input type="submit" value="Iniciar Sesión">
    </form>