body {
    margin: 0;
    padding: 0;
    display: flex; 
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f2f2f2; 
    font-family: 'Roboto', sans-serif;
  }
  
  /* contenido hearder */
  
  .header {
    top: 0px;
    background-color: #02113a;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 100%;
    position: absolute;
  }
  
  .logo img {
    max-height: 60px;
    max-width: 100%;
    object-fit: contain;
  }
  
  /* contenido login */
  
  
  .login-box {
    width: 300px;
    padding: 20px;
    background-color: #3498db; 
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  }
  
  .login-box h2 {
    color: #fff;
  }
  
  .login-box input[type="text"],
  .login-box input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
  }
  
  .login-box input[type="submit"] {
    background-color: #2ecc71; 
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .recover-password {
    color: #fff;
    font-size: 14px;
  }
  